#img1{
    width:300px;
    height:180px;
    font-size:30px!important;
    margin-right:10px !important;
    margin-bottom:10px !important;
}
#img2{
    width:300px;
    height:180px;
    font-size:30px!important;
    margin-right:10px !important;
    margin-bottom:10px !important;
}
#img3{
    width:300px;
    height:160px;
    font-size:30px!important;
    margin-right:10px !important;
    margin-bottom:10px !important;
}
#div{
    font-family: 'Dancing Script', cursive;
    text-shadow:2px 2px rgba(0, 0, 0, 0.500);
    font-size:30px!important;
    margin-right:10px !important;
    margin-bottom:10px !important;
}
#B1{
    font-family: 'Dancing Script', cursive;
    text-shadow:2px 2px rgba(0, 0, 0, 0.500);
    font-size:30px!important;
    margin-right:10px !important;
    margin-bottom:10px !important;
}
#webcam{
    width:500px;
    height: 400px;
    border:5px solid red;
}
#rodape{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    line-height:3;
    background-color:rgb(127.52, 127.5, 127.5);
    color:rgb(0,  200, 255)
}
.div_img{
    width:300px;
    margin-bottom:100px;
}
.div_img:hover{
    border-radius: 100px;
    box-shadow: 10px 10px rgba(0, 200, 255, 0.5);
}
img:hover{
    border-radius: 100px;
}